body {
    background-color: #FFBA00;
    font-family: 'Inconsolata', monospace; 
    text-align: center;
}

  #content {
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 2rem 0;
      
  }

  #comments {
    display: block;
    border: 1px solid;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;

  }

  img {
    max-width: 30vw;
  }

  form {
    display: flex;
    max-width: 50%;
    margin: 2em auto;
    border: 1px solid;
    flex-direction: column;
    border-radius: 5px;
    
  }

  main {  
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;

  }